<div class="container-fluid header ">
    <nav class="pb-lg-4 ">
        <a href="" class="logo">
            <img src="../../../../assets/images/LogoBridge.png" class="img-fluid" alt="" srcset="">
        </a>
    </nav>
    <header class="mt-1">
        <div class="header_img">
            <div class="header_pr">
                <p class="header_text">
                    Improve your skills on your own
                    To prepare for a better future
                </p>
                <div class="register_now">
                    <a href=""> <p>REGISTER NOW</p></a>
                </div>
            </div>
        </div>
    </header>
</div>
