<div class="body">
 <div class="title">
    <div class="t_text"> 
        <h1 > Discouver Our Courses </h1>
    </div>
    <div class="button">
        <button> View Morte</button>
    </div>
 </div>
 <div class="container">
    <div class=" row ">
        <div class=" card col-lg-4 col-md-6 col-sm-12"  *ngFor="let item of coursList">
            <img [src]="item.file" alt="">
            <h3 >{{item.title}} </h3>
            <h4 > {{item.price}} DT/ Month</h4>
        </div>
        
    </div>
 </div>
</div>
