<div class="container footer">
    <div class="text">
        <h2>Contacte US</h2>
    </div>
    <div class="form">
        <div class="labIn d-flex flex-column">
            <label for="" class="tx_input">NAME</label>
            <input type="text" placeholder="Jiara Martins">
        </div>
        <div class=" labIn d-flex flex-column">
            <label for="" class="tx_input">EMAIL</label>
        <input type="email" placeholder="hello@reallygreatsite.com">
        
        </div>
        <div class="labIn d-flex flex-column">
            <label for="" class="tx_input">MESSAGE</label>
        <textarea name="msg" id="" cols="30" rows="0" placeholder="Write your message here"></textarea>
  
        </div>
          </div>
    <div class="button">
        <button>Send th message</button>
    </div>
</div>
